######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 41479680528.412475586
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2017" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 

####### Blinding #######
isBlind True ### after unblinding False
######## Decay Mode #######
Channel: "dimuon"

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2017.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
#METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
METFilters : {"Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_HBHENoiseFilter", "Flag_HBHENoiseIsoFilter", "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter", "Flag_BadPFMuonDzFilter", "Flag_eeBadScFilter", "Flag_ecalBadCalibFilter"}
####### PileUp File #######
PileUpMCFileName : "UL2017/MC_Pileup.root"
PileUpDATAFileName : "UL2017/Offcial_Data.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_Mass3p8_v", "HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_Mass8_v"}
#singleleptrigger : {"HLT_IsoMu27_v", "HLT_IsoMu24_eta2p1_v"}
singleleptrigger : {"HLT_IsoMu27_v"}

######## Lepton requirement #######
######## Muon requirement   #######
Muon_ID : "Tight"
MuonPt_cut : 20.0
MuonEta_cut : 2.4
MuonIso_type : "PFIsodbeta04"
MuonIso_cut  : 0.15

######## Elecrtron requirement ######
Elec_ID      : "SCBTight"
ElecPt_cut      : 20.0
ElecEta_cut     : 2.4
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.0821

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
#Jet_ID : "PFLoose"
Jet_ID : "PFTight"
#Jet_btag : "pfCSVV2M"
Jet_btag : "deepJetM"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
################## CSVL , CSVM , CSMT #################

PUIDWorkingPoint : "L"
PUIDSFSys : "nom"
ApplyPUID : "true"
PUIDPtThreshold : 50 

####### MET requirement #######
MET_cut : 40.0

####### MET Algoritm #######
METtype : "Puppi" ## PF or Puppi
applyMETXY : "False" ## "False" or "True"

####### Rochester Correction #######
applyRochester : "True"  ## "False" or "True"


####### Veto Muon & Electron Cleaning requirement #######

### case of Muon ###
VetoMuonPt : 20.0
VetoMuonEta : 2.4
VetoMuonId : "Loose"
VetoMuonIso : "PFIsodbeta04"
VetoMuonIsocut : 0.25

### case of Electron ###
VetoElecPt : 20.0
VetoElecEta : 2.5
VetoElecId : "SCBVeto"
VetoElecIdcut : {0.0, 1.0} # Not used...
VetoElecIso : "PFIsoRho03"
VetoElecIsocut : 0.175

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
#TrigSFFile : "triggerSummary_mumu.root"
TrigSFFile : "TriggerSF_2017_ULv2.root"
TrigSFHist : "h2D_SF_mumu_lepABpt_FullError" ## h2D_SF_mumu_lepABpt_FullError dimuon h2D_SF_ee_lepABpt_FullError dielec,  h2D_SF_emu_lepABpt_FullError muel

### Do JER ??
DoJER : "true"
#DoJER : "false"
### Corrections & SFs with correctionlib ###
PileupSys : "nominal"
L1PreFireSys : "central" ## central ,up,down, none
TrigSFSys : "nominal"
## JSon Path ##
PUWeightPath : "LUM/2017_UL/puWeights.json.gz"
JERSFPath : "JME/2017_UL/jet_jerc.json.gz"
JECPath : "JME/2017_UL/jet_jerc.json.gz"
JESName : "Summer19UL16_V7_MC_L1L2L3Res_AK4PFchs"
JERPath : "JME/2017_UL/jet_jerc.json.gz"
JMARPath : "JME/2017_UL/jmar.json.gz"

#JECName : "Summer19UL17_V5_MC_L1L2L3Res_AK4PFchs" ## 
JECName : "Summer19UL17_V5" ## 
JERName : "Summer19UL17_JRV2_MC_ScaleFactor_AK4PFchs" ## JER Sf name 
JERResName : "Summer19UL17_JRV2_MC_PtResolution_AK4PFchs" ## Resolution (pt or phi)
JetVetoPath : "JME/2017_UL/jetvetomaps.json.gz"
JetVetoName : "Summer19UL17_V1"
JetVetoKey: "jetvetomap" # "jetvetomap, jetvetomap_hot, jetvetomap_all, jetvetomap_hem1516" 
JetVetoType: "jet" # jet/event 



MuonSFPath : "MUO/2017_UL/muon_Z.json.gz"
MuonIDSFName : "NUM_TightID_DEN_TrackerMuons"
MuonIsoSFName : "NUM_TightRelIso_DEN_TightIDandIPCut"

ElecSFPath : "EGM/2017_UL/electron.json.gz"
ElecIDSFName : "UL-Electron-ID-SF"

LepIDSFSys : "nominal"
LepIsoSFSys : "nominal"
LepRecoSFSys : "nominal"
LepTrackSFSys : "nominal" 
