######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 38004876590.559
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2016PreVFP" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 
######## Decay Mode #######
Channel: "dimuon"

######## DATA or MC Sample ########
File : "TTbar_signal"
### Name list :: TTbar_signal, WJetsToLNu,  DYJetsToLL_M_50, T_tW-channel, Tbar_tW-channel, TTWJets, TTZJets### 
### DATA Name list :: DiMuonDataA, DiMuonDataB, DiMuonDataC, DiMuonDataD ### 

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2016PostVFP.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
####### PileUp File #######
PileUpMCFileName : "UL2016PreVFP/MC_Pileup_2016PreVFP.root"
PileUpDATAFileName : "UL2016PreVFP/Offcial_Data_PreVFP.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_IsoMu24_v", "HLT_IsoTkMu24_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}
singleleptrigger : {"HLT_IsoMu24_v", "HLT_IsoTkMu24_v"}
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}


#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v"}
###trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v" }

######## Lepton requirement #######
Lep_ID : "Tight"
Lep_pt : 20.0
Lep_eta : 2.4
Iso_type : "PFIsodbeta04"
Iso_cut : 0.15

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
#Jet_ID : "PFLoose"
Jet_ID : "PFTight"
#Jet_btag : "pfCSVV2M"
Jet_btag : "deepJetM"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
################## CSVL , CSVM , CSMT #################

####### MET requirement #######
######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 38004876590.559
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2016PreVFP" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 
######## Decay Mode #######
Channel: "dimuon"

######## DATA or MC Sample ########
File : "TTbar_signal"
### Name list :: TTbar_signal, WJetsToLNu,  DYJetsToLL_M_50, T_tW-channel, Tbar_tW-channel, TTWJets, TTZJets### 
### DATA Name list :: DiMuonDataA, DiMuonDataB, DiMuonDataC, DiMuonDataD ### 

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2016PostVFP.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
####### PileUp File #######
PileUpMCFileName : "UL2016PreVFP/MC_Pileup_2016PreVFP.root"
PileUpDATAFileName : "UL2016PreVFP/Offcial_Data_PreVFP.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_IsoMu24_v", "HLT_IsoTkMu24_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}
singleleptrigger : {"HLT_IsoMu24_v", "HLT_IsoTkMu24_v"}
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}


#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v"}
###trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v" }

######## Lepton requirement #######
Lep_ID : "Tight"
Lep_pt : 20.0
Lep_eta : 2.4
Iso_type : "PFIsodbeta04"
Iso_cut : 0.15

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
#Jet_ID : "PFLoose"
Jet_ID : "PFTight"
#Jet_btag : "pfCSVV2M"
Jet_btag : "deepJetM"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
################## CSVL , CSVM , CSMT #################

####### MET requirement #######
MET_cut : 40.0

####### MET Algoritm #######
METtype : "Puppi" ## PF or Puppi
applyMETXY : "False" ## "False" or "True"

####### Rochester Correction #######
applyRochester : "True"  ## "False" or "True"


####### Jet Cleaning requirement #######

### case of Muon ###
Mupt_for_Jetcleanning : 20.0
Mueta_for_Jetcleanning : 2.4
Muid_for_Jetcleanning : "Loose"
Muiso_for_Jetcleanning : "PFIsodbeta04"
Muisocut_for_Jetcleanning : 0.25

### case of Electron ###
Elpt_for_Jetcleanning : 20.0
Eleta_for_Jetcleanning : 2.5
Elid_for_Jetcleanning : "Veto"
Elidcut_for_Jetcleanning : {0.0, 1.0}
Eliso_for_Jetcleanning : "PFIsoRho03"
Elisocut_for_Jetcleanning : 0.175

### Lepton Scale Factor ###
MuonIDFile : "MuonIDEfficienciesAndSF_BCDEF.root"
MuonIDFiles : {"MuonIDEfficienciesAndSF_BCDEF.root","MuonIDEfficienciesAndSF_GH.root"}
MuonIsoFile : "MuonIsoEfficienciesAndSF_BCDEF.root"
TrackEffFile : "Tracking_EfficienciesAndSF_BCDEFGH.root"
MuonIsoFiles : {"MuonIsoEfficienciesAndSF_BCDEF.root","MuonIsoEfficienciesAndSF_GH.root"}
ElectronIDFile : "Electron_CutBased_Medium.root"
ElectronRecoFile : "Electron_RecoSF.root"

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
TrigSFFile : "triggerSummary_mumu.root"

### BTagging Scale Factor csv file ###
BTaggingCSVFile : "UL2016preVFP/wp_deepCSV.csv"
BTaggingCSVFiles : {"UL2016preVFP/wp_deepCSV.csv"}

### Do JER ??
DoJER : "true"
#DoJER : "false"

### Systematics Study All-in-one ###
isAllSys : "False"
#isAllSys : "True"
#Allsys : {"Central","LepID","LepIso","PileUp","JetEn","BTagSF","BTagEff","LepReco","LepTrack","FactReno","TrigSF","JetRes"}
#Allsys : {"FactReno"}
Allsys : {"Central","LepID","LepIso","PileUp","JetEn","BTagSF","BTagEff","TrigSF","JetRes","FactReno","Fragment","DecayTable","TopPt","LepReco","LepTrack"}

### Systematic Requirement ###
Trigsys : "central"
### central , up ,down
#MuEnsys : "central"
MuEnsys : "central"
### none, central , up , down, CorDmSys, FitDmSys###
EleScSmsys : "Central"
### Central , UpUp , UpDown, DownUp, DownDown ###
JESsys : "JetEnNorm"
### JetEnNorm , JetEnShiftedUp ,JetEnShiftedDown
JERsys : "JetResNorm"
### JetResNorm , JetResShiftedUp , JetResShiftedDown
BtaggingSFSys : "central"
BtaggingEffSys : "central"
METsys : "None"
### MET Sys : Up ,Down
## central ,up,down  
LepIDSFSys : "central"
LepIsoSFSys : "central"
LepRecoSFSys : "central"
LepTrackSFSys : "central"
PileUpSys : "central"
## central ,up,down
L1PreFireSys : "central"
## central ,up,down, none##
TopPtSys : "None"
## "None,Apply"
FragmentSys : "nominal"
## nominal,central ,up,down,peterson
DecayTableSys : "central"
## central ,up,down
PDFSys : 0
# 0 : Central , Odd Num is Up, Even Num is Down.
FactRenoSys :0 
# 0 : Central , 1 : ,2: , 3: 4: 5 : 6 : 7 : 8: 9:
##### Dilution Study ####
JPRDilu : "None"
### None , Up , Down ### 
JPhiRDilu : "None"
### None , Up , Down ### 
bAndBDilu : "false"
### "true" "false" ### 
