######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
Luminosity : 16665567224.822570801 
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2016PostVFP" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 
######## Decay Mode #######
Channel: "muel"

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2016PostVFP.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
#METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
METFilters : {"Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_HBHENoiseFilter", "Flag_HBHENoiseIsoFilter", "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter","Flag_BadPFMuonDzFilter","Flag_eeBadScFilter"}
####### PileUp File #######
PileUpMCFileName : "UL2016PostVFP/MC_Pileup.root"
PileUpDATAFileName : "UL2016PostVFP/Offcial_Data.root"

####### Trigger requirement #######
#dileptrigger : {"HLT_Mu23_TrkIsoVVL_Ele12_CaloIdL_TrackIdL_IsoVL_v","HLT_Mu23_TrkIsoVVL_Ele12_CaloIdL_TrackIdL_IsoVL_DZ_v","HLT_Mu8_TrkIsoVVL_Ele23_CaloIdL_TrackIdL_IsoVL_v","HLT_Mu8_TrkIsoVVL_Ele23_CaloIdL_TrackIdL_IsoVL_DZ_v"}
dileptrigger : {"HLT_Mu8_TrkIsoVVL_Ele23_CaloIdL_TrackIdL_IsoVL", "HLT_Mu23_TrkIsoVVL_Ele12_CaloIdL_TrackIdL_IsoVL"}
singleleptrigger : {"HLT_IsoMu24_v","HLT_IsoTkMu24_v","HLT_Ele27_WPTight_Gsf_v"}
#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}


#trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v"}
###trigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v", "HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v" }

###################################
######## Lepton requirement #######
###################################

######## Muon requirement   #######
Muon_ID : "Tight"
MuonPt_cut : 20.0
MuonEta_cut : 2.4
MuonIso_type : "PFIsodbeta04"
MuonIso_cut  : 0.15

######## Elecrtron requirement ######
Elec_ID      : "SCBTight"
ElecPt_cut      : 20.0
ElecEta_cut     : 2.4
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.0821


####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
#Jet_ID : "PFLoose"
Jet_ID : "PFTight"
#Jet_btag : "pfCSVV2M"
Jet_btag : "deepJetM"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
################## CSVL , CSVM , CSMT #################
PUIDWorkingPoint : "L"
PUIDSFSys : "nom"
ApplyPUID : "true"
PUIDPtThreshold : 50 

####### MET requirement #######
MET_cut : 40.0

####### MET Algoritm #######
METtype : "Puppi" ## PF or Puppi
applyMETXY : "False" ## "False" or "True"

####### Rochester Correction #######
applyRochester : "True"  ## "False" or "True"

####### Veto Muon & Electron Cleaning requirement #######

### case of Muon ###
VetoMuonPt : 20.0
VetoMuonEta : 2.4
VetoMuonId : "Loose"
VetoMuonIso : "PFIsodbeta04"
VetoMuonIsocut : 0.25

### case of Electron ###
VetoElecPt : 20.0
VetoElecEta : 2.5
VetoElecId : "SCBVeto"
VetoElecIdcut : {0.0, 1.0} # Not used...
VetoElecIso : "PFIsoRho03"
VetoElecIsocut : 0.175

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
#TrigSFFile : "triggerSummary_emu.root"
TrigSFFile : "TriggerSF_2016postVFP_ULv2.root"
TrigSFHist : "h2D_SF_emu_lepABpt_FullError" ## h2D_SF_mumu_lepABpt_FullError dimuon h2D_SF_ee_lepABpt_FullError dielec,  h2D_SF_emu_lepABpt_FullError muel

### BTagging Scale Factor csv file ###
BTaggingCSVFile : "UL2016postVFP/wp_deepCSV.csv"
BTaggingCSVFiles : {"UL2016postVFP/wp_deepCSV.csv"}

### Do JER ??
DoJER : "true"
#DoJER : "false"
### Corrections & SFs with correctionlib ###
PileupSys : "nominal"
L1PreFireSys : "central" ## central ,up,down, none
TrigSFSys : "nominal"
## JSon Path ##
PUWeightPath : "LUM/2016postVFP_UL/puWeights.json.gz"
JERSFPath : "JME/2016postVFP_UL/jet_jerc.json.gz"
JECPath : "JME/2016postVFP_UL/jet_jerc.json.gz"
JESName : "Summer19UL16_V7_MC_L1L2L3Res_AK4PFchs"
JERPath : "JME/2016postVFP_UL/jet_jerc.json.gz"
JMARPath : "JME/2016postVFP_UL/jmar.json.gz"
JetVetoPath : "JME/2016postVFP_UL/jetvetomaps.json.gz"
JetVetoName : "Summer19UL16_V1"
JetVetoKey: "jetvetomap" # "jetvetomap, jetvetomap_hot, jetvetomap_all, jetvetomap_hem1516" 
JetVetoType: "jet" # jet/event 


#JECName : "Summer19UL16_V7_MC_L1L2L3Res_AK4PFchs" ## 
JECName : "Summer19UL16_V7" ## 
JERName : "Summer20UL16_JRV3_MC_ScaleFactor_AK4PFchs" ## JER Sf name 
JERResName : "Summer20UL16_JRV3_MC_PtResolution_AK4PFchs" ## Resolution (pt or phi)


MuonSFPath : "MUO/2016postVFP_UL/muon_Z.json.gz"
MuonIDSFName : "NUM_TightID_DEN_TrackerMuons"
MuonIsoSFName : "NUM_TightRelIso_DEN_TightIDandIPCut"

ElecSFPath : "EGM/2016postVFP_UL/electron.json.gz"
ElecIDSFName : "UL-Electron-ID-SF"

LepIDSFSys : "nominal"
LepIsoSFSys : "nominal"
LepRecoSFSys : "nominal"
LepTrackSFSys : "nominal" 
